.margin_bottom {
    margin-bottom: 50px;
}

.column_background {
    background-color: white;
}

.nav-link .dropdown-toggle {
    white-space: nowrap;
}

.img-position {
    position: relative;
}

.center_text {
    text-align: center;
}

.menu-shadow {
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.671);
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.nav-item a:hover {
    background-color: #fbf000;
}

.nav-link {
    color: #287ddf;
}

.img-size {
    width: 50vw;
}